<!DOCTYPE html>
<html>
  <head>
    <title>EaseljsDrawingExampleApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
  </head>

  <body onload="init();">
    <%= yield %>
  </body>
</html>
